<div class="container">

  <%= form_for :building, url: buildings_path, html: {role: "form"} do |f| %>
    Address: <%= f.text_field :address, class: "form-control" %><br />
    <%= f.submit class: "btn btn-default" %>
  <% end %>

</div>